.input {
    padding-bottom: 10px;
}

body {
    margin: 0%;
    background-color: rgb(38, 44, 63);
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    justify-content: center;
    align-items: center;
}

.titulo {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
}

#textMensagem {
    width: 100%;
    font-size: 20px;
}

#valorInformado {
    width: 15%;
    font-size: 25px;
}

.output {
    width: 100%;
    font-size: 20px;
}

#botaoRecomecar {
    font-size: 25px;
    margin-top: 10%;
    color: rgb(35, 35, 56);
    background-color: rgb(208, 181, 128);
    border-radius: 5px;
}

#botaoJogar {
    font-size: 25px;
    margin-top: 10%;
    color: rgb(35, 35, 56);
    background-color: rgb(128, 208, 128);
    border-radius: 5px;
}